<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Codecool" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>Codecool Shop</title>

        <!-- Bootstrap components -->
        <!-- Latest compiled and minified Jquery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

        <!--Latest compiled and minified Popper -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <!-- Latest compiled and minified CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <!-- End of Bootstrap components -->

        <link rel="stylesheet" type="text/css" href="static/css/custom.css" />
        <script src="static/js/main.js" defer></script>
    </head>

    <body id="body">
        <div class="jumbotron text-center headerlogo">
            <a href="/"><img id="logo" src="static/img/codecool-logo.png"></a><h1>Shopping cart</h1>
        </div>
        <div class="container">
            <div style="text-align: right"><img id="cartDelete" src="/static/img/cartDeleteSm.jpg" alt="Delete the cart"></div>
            <table class="cart-preview-table" >
                <tr>
                    <th>Model</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Remove</th>
                </tr>
                <th:block th:each="smokeTest : ${data}">
                    <tr>
                        <td th:text="${smokeTest.name}">Product name</td>
                        <td><img style="height: 60px" src="http://placehold.it/400x250/000/fff" th:attr="src='static/img/product_' + ${smokeTest.id} + '.jpg'" alt="" /></td>
                        <td th:text="${smokeTest.description}">Description</td>
                        <td th:text="${smokeTest.price}">Price</td>
                        <td><label><input class="prodQttInCart" th:data="${smokeTest.id}" th:value="${smokeTest.quantity}" style="  width: 50px; background-color: rgba(126, 237, 252, 0.8) " type="number" min="1" max="10" placeholder="1"></label></td>
<!--                        <th:block th:with="result=${(#strings.substring(smokeTest.price, 0, #strings.length(smokeTest.price)-6))}">-->
<!--                            <th:block th:with="price=${#numbers.formatDecimal(result, 0, 'COMMA', 2, 'POINT')}">-->
<!--                                <td th:text="${price}">Total</td>-->
<!--                            </th:block>-->
<!--                        </th:block>-->
<!--                        <td th:text="${#numbers.formatDecimal(smokeTest.quantity, 0, 'COMMA', 2, 'POINT')}">Total</td>-->
                        <td th:text="${smokeTest.getTotal()}" class="amount">Amount</td>
                        <td>
                            <img class="delItmBtn" th:data="${smokeTest.id}" src="/static/img/cartDeleteSm.jpg" alt="Delete the item">
                        </td>
                    </tr>
                </th:block>
            </table>
            <div>
                <p style=" text-align: right; margin-right: 30px; font-size: large; font-weight: bold">Amount:&nbsp<span th:text="${amount}+' USD'"></span></p>
            </div>
        </div>

        <div style="float: left" th:replace="footer.html :: copy"></div>

    </body>
</html>