<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="container">

    <h3>Shopping cart</h3>
    <table class="cart-preview-table" >
        <tr>
            <th>Model</th>
            <th>Image</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        <th:block th:each="smokeTest : ${data}">
            <tr>
                <td th:text="${smokeTest.name}">Product name</td>
                <td><img style="height: 60px" src="http://placehold.it/400x250/000/fff" th:attr="src='static/img/product_' + ${smokeTest.id} + '.jpg'" alt="" /></td>
                <td th:text="${smokeTest.description}">Description</td>
                <td th:text="${smokeTest.price}">Price</td>
                <td><label><input th:value="${smokeTest.quantity}" style="width: 30px; background-color: rgba(126, 237, 252, 0.8) " type="number" min="1" placeholder="1"></label></td>
            </tr>
        </th:block>
    </table>
    <span style="margin-right: 30px ; font-size: large; font-weight: bold">Amount:&nbsp<span th:text="${amount}+' USD'"></span></span>
</div>